body {
    background-color: #FBAB7E;
    background: linear-gradient(180deg, #FBAB7E 0%, #F7CE68 100%) no-repeat scroll;
/* 
    background: rgb(245,185,113);
    background: linear-gradient(180deg, rgba(245,185,113,1) 0%, rgba(255,236,199,1) 100%) no-repeat scroll; */
    background-size: 100% 100vh; 
    /* padding: 3rem; */

    /* font-family: 'Montserrat', sans-serif !important; */
}

.bodyfont {
    font-family: 'Montserrat', sans-serif;
}

.iconLink {
    color: rgba(255,255,255,.5)!important;
}

.linkHover:hover, .iconLink:hover {
    position: relative;
    top: -2px;
    color: rgba(255,255,255, .8)!important;
}